<h1><%= gettext "Show User" %></h1>

<ul>

  <li>
    <strong><%= gettext "Username"%>:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong><%= gettext "Hashed password"%>:</strong>
    <%= @user.hashed_password %>
  </li>

  <li>
    <strong><%= gettext "Role"%>:</strong>
    <%= @user.role %>
  </li>

</ul>

<span><a href="<%=Routes.user_path(@conn, :index) %>"><%= gettext "Back" %></a></span>

